<h1>Confirmez votre adresse email</h1>

<p>Bienvenue sur Eduflex.</p>

<p>
    Cliquez sur ce lien pour activer votre compte :
    <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon compte</a>
    <br><br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
