<form method="post" action="{{ path('app_examen_delete', {'id': examen.id}) }}" onsubmit="return confirm('Supprimer cet examen ?');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examen.id) }}">
  <button class="btn btn-outline-danger">Supprimer</button>
</form>
