APP_ENV=dev
APP_SECRET=change_me
DEFAULT_URI=http://localhost

DATABASE_URL="mysql://user:password@127.0.0.1:3306/eduflex?serverVersion=8.0&charset=utf8mb4"
MAILER_DSN="smtp://127.0.0.1:1025"
OPENAI_API_KEY=change_me
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
