{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forum.css') }}">
{% endblock %}

{% block body %}
    <div class="forum-page forum-index">
        {% include 'forum/_index_content.html.twig' %}
    </div>
{% endblock %}
