<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modifier Commentaire</title>
    <link rel="stylesheet" href="{{ asset('parent/css/parent.css') }}">
</head>

<body style="padding:40px;">

<h2>Modifier le commentaire</h2>

<form method="post">
    <textarea name="contenu" rows="4" style="width:100%; padding:10px;">
        {{ commentaire.contenu }}
    </textarea>

    <br><br>

    <button type="submit"
            style="background:#4f46e5; color:white; border:none; padding:8px 15px; border-radius:6px;">
        Enregistrer
    </button>
</form>

</body>
</html>
